.button {
  padding: 0 16px;
  height: 44px;
  line-height: 42px;
  border: 1px solid #0000;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 15px;
  max-width: 100%;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  background-color: #0c78ed;
  color: #fff;
  cursor: pointer;

  &-primary {
    &:hover {
      background: #2284ef;
      color: #fff;
    }

    &__disabled {
      background-color: #0c78ed50;
      color: #fff;
      cursor: default;

      &:hover {
        background-color: #0c78ed50;
        color: #fff;
      }
    }
  }

  &-green {
    background-color: #36b555;
    color: #fff;

    &:hover {
      background: #5bc274;
      color: #fff;
    }

    &__disabled {
      background-color: #36b55550;
      color: #fff;
      cursor: default;

      &:hover {
        background-color: #36b55550;
        color: #fff;
      }
    }
  }

  &-primary-light {
    background-color: #e2effd;
    color: #000;

    &:hover {
      background: #2284ef;
      color: #fff;
    }

    &__disabled {
      background-color: #e2effd50;
      color: #00000050;
      cursor: default;

      &:hover {
        background-color: #e2effd50;
        color: #00000050;
      }
    }
  }

  &-gray {
    background-color: #efeff3;
    color: #000;

    &:hover {
      background: #0000001a;
      color: #000;
    }

    &__disabled {
      background-color: #efeff350;
      color: #00000050;
      cursor: default;

      &:hover {
        background-color: #efeff350;
        color: #00000050;
      }
    }
  }

  &-link {
    background-color: transparent;
    color: #0c78ed;
    height: auto;
    line-height: initial;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: #2284ef;
    }

    &__disabled {
      background-color: transparent;
      color: #0c78ed50;
      cursor: default;

      &:hover {
        background-color: transparent;
        color: #0c78ed50;
        cursor: default;
      }
    }
  }
}
